<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="brave" />
  <package id="colemak" />
  <package id="devtoys" />
  <package id="firefox" />
  <package id="GoogleChrome" />
  <package id="oh-my-posh" />
  <!-- <package id="pia" /> -->
  <package id="powershell-core" />
  <package id="powertoys" />
  <package id="python314" />
  <package id="vscode" />
  <package id="gpu-z" />
  <package id="zen-browser --pre" />
  <package id="msiafterburner" />
</packages>
